<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
  <title>Movie Recommendation System</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all" />
  <!--[if IE 6]>
    <link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" />
  <![endif]-->
  <script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery-func.js"></script>
  <link rel="shortcut icon" href="/static/favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<!-- Shell -->
<div id="shell">
  <!-- Header -->
  <div id="header">
    <h1 id="logo"><a href="{{url_for('base')}}">Movie Stack</a></h1>
    <div class="social">
      <span>FOLLOW US ON:</span>
      <ul>
          <li><a class="twitter" href="#">twitter</a></li>
          <li><a class="facebook" href="#">facebook</a></li>
          <li><a class="vimeo" href="#">vimeo</a></li>
          <li><a class="rss" href="#">rss</a></li>
      </ul>
    </div>
    
    <!-- Navigation -->
    <div id="navigation">
      <ul>
          <li><a href="{{url_for('base')}}">HOME</a></li>
          <li><a href="{{url_for('home')}}">Recommendation</a></li>
          <li><a href="{{url_for('news')}}">NEWS</a></li>
          <!--<li><a href="#">IN THEATERS</a></li>-->
          <li><a href="{{url_for('coming')}}">COMING SOON</a></li>
          <li><a class="active" href="{{url_for('contact')}}">CONTACT</a></li>
      </ul>
    </div>
    <!-- end Navigation -->
    
    <!-- Sub-menu -->
    <div id="sub-navigation">
      <ul>
          <li><a href="#">SHOW ALL</a></li>
          <li><a href="#">TRENDING</a></li>
          <li><a href="#">TOP RATED</a></li>
          <li><a href="#">MOST COMMENTED</a></li>
      </ul>
      <div id="search">
        <form action="home_submit" method="get" accept-charset="utf-8">
          <label for="search-field">SEARCH</label>          
          <input type="text" name="search field" value="Enter search here" id="search-field" title="Enter search here" class="blink search-field"  />
          <input type="submit" value="GO!" class="search-button" />
        </form>
      </div>
    </div>
    <!-- end Sub-Menu -->
    
  </div>
  <!-- end Header -->
  
  <!-- Main -->
  <div id="main">
    <!-- Content -->

    <!-- end Content -->
    

    <!-- NEWS -->
    <div id="news">
      <div class="head">
        <h3>Contact Us</h3>
        <p class="text-right"><a href="#">Call Us!</a></p>
      </div>
      
      <div class="content">
        
        <h4>Shriyansh Gupta</h4>
        <p>9522653395</p>
      </div>
      
    </div>
    <!-- end NEWS -->
    
    <!-- Coming -->
    
    <!-- end Coming -->
    <div class="cl">&nbsp;</div>
  </div>
  <!-- end Main -->

  <!-- Footer -->
  <div id="footer">
    <p>
      <a href="#">HOME</a> <span>|</span>
      <a href="#">NEWS</a> <span>|</span>
      <a href="#">IN THEATERS</a> <span>|</span>
      <a href="#">COMING SOON </a> <span>|</span>
      <a href="#">CONTACT </a>
    </p>
    <p><a> &copy; Movie STACK, LLC. All Rights Reserved.  Designed by </a><a href="https://www.linkedin.com/in/shreyansh2809/" target="_blank" title="Shriyansh gupta">Shriyansh Gupta.</a> <a>made with love</a></p>
  </div>
  <!-- end Footer -->
</div>
<!-- end Shell -->
</body>
</html>
